body {
	width: 1840px;
	margin: 0;
	padding: 10px;
	
	background-image: url(https://cdn.pixabay.com/photo/2017/04/05/01/20/wood-2203740_1280.jpg);
	font-size: 25px;
	color: white;
}

header {
	font-family: 'Cookie', cursive;
	background-color: black;
	width: 1820px;
	color: white;
	padding: 10px;

	display: flex;
	justify-content: space-between;
}

ul {
	margin: 0;
	padding: 0;
	flex-basis: 30%;

	display: flex;
	justify-content: space-between;
}

a {
	color: white;
	margin: auto;
}

a:hover {
	color: #FFD77F;
	transition: 0.3s;
}

#tel {
	padding: 0;
	margin: auto 0;
}

#img_logo {
	width: 60px;
	height: 60px;
	display: inline-block;
}

/* -----------------------------------------*/

#slider {
	background-color: black;
	background-image: url(https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50%;
	width: 1720px;
	height: 170px;
	color: white;
	padding: 10px 60px;

	text-decoration: none;
}

#slider>p {
	margin-bottom: 0;
}

hr {
	float: left;
	width: 50%;
	display: block;
}

button {
	display: inline-block;
	margin: 0;
	padding: 6px;
	font-size: 20px;
	font-weight: bold;
}

#btn_1 {
	color: #7FD7FF;
	background-color: transparent;
	border: solid 3px #7FD7FF;
	border-radius: 3px;
}

#btn_1:hover {
	background-color: #333333;
	cursor: pointer;
	transition: 0.1s;
}

#btn_2 {
	color: #FFD77F;
	background-color: #936c02;
	border: solid 3px #FFD77F;
	border-radius: 3px;
}

#btn_2:hover {
	background-color: #333333;
	cursor: pointer;
	transition: 0.1s;
}

/* -----------------------------------------*/

#container1 {
	width: 100%;
	height: 180px;
	display: flex;
	justify-content: space-evenly;
	
	padding: 20px 0;
}

.wide-img-div {
	flex-basis: 30%;
	height: 120px;
	text-align: right;
	position: relative;
	margin: auto 0;
}

.img_wide {
	width: 100%;
	height: 100%;
	border: 5px groove black;
	padding: 0;
	object-fit: cover;
	display: inline-block;
}

.wide-img-div > p {
	color: white;
	font-size: 20px;
	left: 50%;
	display: inline-block;
	position: absolute;
	bottom: -20px;
	right: 2px;
}

/* -----------------------------------------*/

#container2 {
	background-color: black;
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
}

#container2 > div {
	padding: 10px;
	flex-basis: 23%;
	height: auto;
	text-align: center;
	font-size: 15px;
}

#container2 > div > img {
	width: 100%;
	height: auto;
}

/* -----------------------------------------*/

footer {
	font-family: 'Cookie', cursive;
	background-color: black;
	width: 1820px;
	color: white;
	padding: 10px;
	font-size: 20px;

	display: flex;
	justify-content: space-evenly;
}

footer > ul {
	text-decoration: underline;
	flex-basis: 30%;
}

footer > ul:hover {
	cursor: pointer;
}